<br>

<div class="row">  <!--filas de pedidos-->
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="pedidos-totales">
			  	<div class="card-header">
			  		<h5 class="card-title">Total de pedidos</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">2</h3>
			  	</div>
			</div>
		</div>
	</div><!-- columna1  tarjeta1-->

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="pedidos-entregados">
			  	<div class="card-header">
			  		<h5 class="card-title">Pedidos entregados</h5>
			  	</div>
			  	<div class="card-body">
			    	<h4 class="card-title">5</h4>
			  	</div>
			</div>
		</div>
	</div><!-- columna2  tarjeta2-->

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="pedidos-pendientes">
			  	<div class="card-header">
			  		<h5 class="card-title">Pedidos pendientes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">2</h3>
			  	</div>
			</div>
		</div>
	</div><!-- columna3  tarjeta3-->
</div>