{%  extends 'app_tienda/base.html' %}

{% block contenido %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Productos</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Producto</th>
							<th>Categoria</th>
							<th>Precio</th>
						</tr>
						{% for producto in productos %}
						<tr>
							<td>{{ producto.nombre }}</td>
							<td>{{ producto.categoria }}</td>
							<td>{{ producto.precio }}</td>
						</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock contenido %}